body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
main{

    border-radius: 10px;
    height: 382px;
    width: 760px;
    margin: auto;
    
    
}

.search_line{
    background-color: #FFC93D;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.search{
    background-color: white;
    border-radius: 10px;
    width: 85%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.search_button{
    width: 15%;
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #FFC93D;
}
.button{
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    outline: none;
    border: 0;
    background: #FFC93D;
    cursor: pointer;
}

.logo{
    width: 90%;
    height: 35px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1{
    width: 20%;
}
.input{
    margin: 0;
    width: 97%;
    border: 0px;
    height: 90%;
    border-radius: 10px;
}

input:focus{
    border: none;
    outline:none;
    box-shadow: none;
    
}

.flex_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.font {
    font-family: sans-serif;
    opacity: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: start;
}

.title-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.error {
    padding-left: 20%;
}

.add{
    padding-left: 20%;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.left_column{
    width: 40%;
    word-break:break-all;
    white-space: nowrap;
    overflow: hidden;
}

.right_column{
    width: 40%;
    padding-left: 10%;
    word-break:break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a{
    text-decoration: none;
    color: #216BCE;
    font-family: sans-serif;
}

.inf{
    color: #808386;
    margin: 5px;
}

.icon{
    width: 13px;
    height: 13px;
    margin-right:5px ;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

.footer_list{
    display: flex;
    justify-content: flex-start;
}